.single-item {
  border-radius: 15px;
  margin-bottom: 1px;
  transition: all 0.3s;
  background-color: #ededed;
}
.single-item .image {
  position: relative;
}
.single-item .image img {
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}
.single-item .details {
  padding: 5px 20px 20px 20px;
  height: 280px;
}
.single-item .details h3 {
  font-size: 1.5rem;
  text-decoration: none;
  color: #235c51;
  padding: 15px 0;
  margin-bottom: 0;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.single-item .details p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  line-height: 120%;
  color: #000;
  transition: 0.3s ease-in-out;
}
.single-item .details a {
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
  color: #235c51;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.single-item:hover {
  background-color: #235c51;
}
.single-item:hover .image img {
  transform: translateY(-20px);
}
.single-item:hover .details {
  background-image: url(../../Images/bg-img.png);
  background-position: center;
  background-size: cover;
}
.single-item:hover .details h3 {
  color: #f6ba18;
}
.single-item:hover .details p {
  color: #fff;
}
.single-item:hover .details a {
  color: #f6ba18;
}

@media (max-width: 1499px) {
  .single-item .details {
    height: 250px;
  }
}
@media (max-width: 1399px) {
  .single-item .details {
    height: 270px;
  }
}

@media (max-width: 1199px) {
  .single-item .details {
    height: 310px;
  }
}

@media (max-width: 991px) {
  .single-item .details {
    height: 290px;
  }
}

@media (max-width: 767px) {
  .single-item .details {
    height: auto;
  }
}

@media (max-width: 575px) {
  .single-item .details h3 {
    font-size: 1.2rem;
    padding: 12px 0;
  }
  .single-item .details p {
    font-size: 13px;
    line-height: 120%;
  }
  .single-item .details a {
    padding-top: 10px;
    font-size: 15px;
  }
}
