.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
  background-color: #f6ba18;
  border-radius: 50%;
  padding: 10px;
  border: 25px solid #f6ba18;
}
.slider {
  margin-top: 73px;
}
.slider img {
  opacity: 0.6;
  max-height: calc(100vh - 75px);
}
.slider h5 {
  color: #f6ba18;
  font-size: 2.5rem;
  font-weight: 700;
}
.slider h1 {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 15px 0;
}
.slider p {
  font-size: 1.7rem;
  font-weight: 700;
}
.slider .button button {
  margin-bottom: 40px;
  margin-top: 30px;
  font-size: 1.5rem;
  padding: 10px 45px;
  border-radius: 30px;
  color: #000;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .slider h1 {
    font-size: 2.8rem;
    padding: 10px 0;
  }
  .slider .button button {
    font-size: 1.2rem;
  }
}

@media (max-width: 991px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
    padding: 10px;
    border: 15px solid #f6ba18;
  }
  .slider .button {
    font-size: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .slider h5 {
    font-size: 1.5rem;
  }
  .slider h1 {
    font-size: 2.2rem;
  }
  .slider p {
    font-size: 1rem;
  }
  .slider .button button {
    font-size: 1.2rem;
    padding: 6px 30px;
    margin-bottom: -10px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
    padding: 10px;
    border: 12px solid #f6ba18;
  }
  .carousel-item img {
    height: 400px !important;
  }
  .slider h5 {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .slider h1 {
    font-weight: 600;
    font-size: 1.7rem;
    padding: 5px 0;
  }
  .slider p {
    font-weight: 500;
    font-size: 1rem;
  }
  .slider .button {
    padding: 8px 12px;
    margin-bottom: 20px;
  }
  .slider .button button {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    padding: 10px;
    border: 10px solid #f6ba18;
  }
  .carousel-item img {
    height: 300px !important;
  }
  .slider h5 {
    font-weight: 500;
    font-size: 1rem;
  }
  .slider h1 {
    font-weight: 700;
    font-size: 1rem;
    padding: 5px 0;
  }
  .slider p {
    font-weight: 400;
    font-size: 0.6rem;
  }
  .slider .button {
    padding: 6px 10px;
    margin-bottom: 15px;
  }
  .slider .button button {
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  .slider h5 {
    font-weight: 400;
    font-size: 0.8rem;
  }
  .slider h1 {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 5px 0;
  }
}
