.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
  background-color: #f6ba18;
  border-radius: 50%;
  padding: 10px;
  border: 25px solid #f6ba18;
}
.slider {
  margin-top: 75px;
}
.slider img {
  opacity: 0.7;
  max-height: 100vh;
}
.slider h5 {
  color: #f6ba18;
  font-size: 2.5rem;
  font-weight: 700;
}
.slider h1 {
  font-size: 4rem;
  font-weight: 700;
}
.slider p {
  font-size: 1.7rem;
  font-weight: 700;
}
.slider .btn {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 1.5rem;
}
.slider button {
  padding: 10px 45px;
  border-radius: 50px;
  color: #000;
}
@media (max-width: 991px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
    padding: 10px;
    border: 15px solid #f6ba18;
  }
  .slider .button {
    font-size: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .slider h5 {
    font-size: 1.5rem;
  }
  .slider h1 {
    font-size: 2rem;
  }
  .slider p {
    font-size: 1rem;
  }
  .slider .btn {
    margin-bottom: 30px;
    font-size: 1rem;
  }
  .slider button {
    padding: 8px 25px;
  }
}

@media (max-width: 576px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
    padding: 5px;
    border: 10px solid #f6ba18;
  }
  .carousel-item img {
    height: 400px !important;
    width: auto !important;
  }
  .slider button {
    font-size: 10px;
    padding: 8px 12px;
    margin-bottom: 20px;
  }
  .slider h5 {
    font-weight: 500;
    font-size: 0.8rem;
  }
  .slider h1 {
    font-weight: 600;
    font-size: 0.9rem;
  }
  .slider p {
    font-weight: 500;
    font-size: 0.6rem;
  }
}
