.about-area {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #151c57;
}
.about-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text {
  padding: 30px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-radius: 10px;
  margin-top: 50px 35px 0 35px;
}
.about-text h2 {
  padding-bottom: 15px;
  font-size: 34px;
  font-weight: 600;
}
.about-text p {
  padding-bottom: 0;
  font-size: 16px;
}
.about-image {
  margin-top: 50px;
}
.about-image img {
  border-radius: 10px;
  height: 100%;
}

@media (max-width: 1499px) {
  .about-height {
    height: 380px;
  }
  .about-text {
    margin: auto 30px;
    margin-top: 50px;
  }
}

@media (max-width: 1399px) {
  .about-height {
    height: 380px;
  }
  .about-text {
    margin: auto 30px;
    margin-top: 50px;
  }
}

@media (max-width: 1199px) {
  .about-height {
    height: 430px;
  }
  .about-text {
    margin: auto 30px;
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .about-area {
    padding-top: 45px;
    padding-bottom: 70px;
    text-align: center;
  }
  .about-div {
    flex-direction: column;
  }
  .about-height {
    height: auto;
  }
  .about-text {
    margin-top: 50px;
  }
}
