.reg-area {
  margin-top: 75px;
  background-color: #151c575a;
}
.reg-area p {
  text-align: center;
}
.reg-area p a {
  margin-left: 10px;
}
.or-style {
  display: block;
  background-color: bisque;
  padding: 5px;
  text-align: center;
  margin: 30px 0;
  border-radius: 3px;
  color: #000;
}
