.footer-area .footer-top {
  padding: 80px 0 50px 0;
}
.about-footer .logo a img {
  width: 50%;
  height: auto;
}
.about-footer .text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 35px;
}
.newsletter-form {
  position: relative;
  width: 300px;
}
.form-group input {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 30px;
  padding: 10px 20px 10px 25px;
  border-radius: 5px;
}
.form-group button {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f6ba18;
  border: none;
}
.form-group button i {
  color: #fff;
}
.footer-links h4 {
  position: relative;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 55px;
}
.footer-links h4::after {
  position: absolute;
  content: "";
  background: #f6ba18;
  left: 0px;
  bottom: -30px;
  width: 30px;
  height: 3px;
}
.links {
  list-style: none;
  padding-left: 0;
}
.links li {
  margin-bottom: 20px;
}
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.links a:hover {
  color: #f6ba18;
}
.contact-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.contact-list span {
  font-size: 20px;
  color: #f6ba18;
  position: absolute;
}
.footer-links .contact-list {
  padding-left: 0;
  margin-bottom: 0;
}
.footer-links .contact-list li {
  margin-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #f6bb186e;
  display: inline-block;
}
.footer-links .contact-list a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.footer-links li:nth-last-child(1) {
  border: none;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.footer-area .footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #f6bb186e;
}
.copyright a {
  text-decoration: none;
  color: #f6ba18;
}
.copyright a:hover {
  color: #235c51;
}
.footer-area .social-box {
  position: relative;
}
.social-box li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  top: -13px;
  left: -30px;
  font-size: 30px;
}
.social-box li a {
  text-align: center;
  line-height: 30px;
  position: absolute;
  color: #fff;
}
.language button {
  color: #fff;
}
