.footer-area {
  background-image: url(../../Images/footer.png);
  background-position: top;
  background-repeat: round;
  background-size: cover;
}
.footer-area .footer-top {
  padding: 60px 0;
}
.about-footer .logo a img {
  width: 50%;
  height: auto;
}
.about-footer .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 35px;
}
.form-group {
  position: relative;
  width: 300px;
}
.form-group input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 25px;
  border-radius: 30px;
  border: 1px solid #f6ba18;
  border: none;
}
.form-group button {
  position: absolute;
  right: 1%;
  top: 5%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f6ba18;
  border: none;
}
.form-group button:hover {
  background-color: #b98d12;
}
.form-group button i {
  color: #fff;
}
.footer-links {
  margin-left: 20px;
}
.footer-links h4 {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 55px;
}
.footer-links h4::after {
  position: absolute;
  content: "";
  background: #f6ba18;
  left: 0%;
  bottom: -100%;
  width: 30px;
  height: 3px;
}
.links {
  list-style: none;
  padding-left: 0;
}
.links li {
  margin-bottom: 20px;
}
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.links a:hover {
  color: #f6ba18;
}
.contact-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.contact-list span {
  font-size: 20px;
  color: #f6ba18;
  position: absolute;
}
.contact-list li a:hover {
  color: #f6ba18;
}
.footer-links .contact-list {
  padding-left: 0;
  margin-bottom: 0;
}
.footer-links .contact-list li {
  margin-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #f6bb186e;
  display: inline-block;
}
.footer-links .contact-list a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.footer-links li:nth-last-child(1) {
  border: none;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.footer-area .footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #f6bb186e;
}
.copyright a {
  font-size: 18px;
  text-decoration: none;
  color: #f6ba18;
}
.copyright a:hover {
  font-size: 18px;
  color: #b98c11;
}
.footer-area .social-box {
  position: relative;
}
.social-box li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  top: -7px;
  left: -45px;
  font-size: 30px;
}
.social-box li a {
  text-align: center;
  line-height: 30px;
  position: absolute;
  color: #fff;
}
.social-box li a:hover {
  color: #f6ba18;
}
.language .btn-link {
  text-decoration: none;
  border-radius: 25px;
}
.copyright p {
  margin-bottom: 0;
  font-size: 18px;
}

@media (max-width: 1399px) {
  .about-footer .text {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .form-group {
    width: 260px;
  }
  .form-group input {
    height: 50px;
  }
  .form-group button {
    right: 2%;
    top: 6%;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-top {
    padding: 35px 0 0 0;
  }
  .footer-top {
    text-align: center !important;
  }
  .footer-top .logo a img {
    width: 40%;
    height: auto;
  }
  .about-footer .form-group {
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
  }
  .form-group button {
    right: 1%;
    top: 25%;
  }
  .footer-links h4::after {
    left: 50%;
    bottom: -60%;
    transform: translateX(-50%);
  }
  .footer-links {
    margin-left: 0;
  }
  .footer-links .contact-list li {
    display: block;
  }
  .footer-left-box {
    justify-content: center !important;
    flex-direction: column;
  }
  .left-box {
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .footer-area .footer-top {
    padding: 20px 0 0 0;
  }
  .language .btn-link {
    padding: 10px 20px;
  }
  .right-box ul {
    padding-left: 0rem !important;
  }
  .copyright p {
    font-size: 13px;
  }
}
