.footer-area {
  background-image: url(../../Images/footer.png);
  background-position: top;
  background-repeat: round;
  background-size: cover;
}
.footer-area .footer-top {
  padding: 60px 0;
}
.about-footer .logo a img {
  width: 50%;
  height: auto;
}
.about-footer .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 35px;
}
.form-group {
  position: relative;
  width: 300px;
}
.form-group input {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 30px;
  padding: 25px;
  border-radius: 30px;
  border: 1px solid #f6ba18;
  border: none;
}
.form-group button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f6ba18;
  border: none;
}
.form-group button:hover {
  background-color: #b98d12;
}
.form-group button i {
  color: #fff;
}
.footer-links {
  margin-left: 20px;
}
.footer-links h4 {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 55px;
}
.footer-links h4::after {
  position: absolute;
  content: "";
  background: #f6ba18;
  left: 0px;
  bottom: -30px;
  width: 30px;
  height: 3px;
}
.links {
  list-style: none;
  padding-left: 0;
}
.links li {
  margin-bottom: 20px;
}
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.links a:hover {
  color: #f6ba18;
}
.contact-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.contact-list span {
  font-size: 20px;
  color: #f6ba18;
  position: absolute;
}
.contact-list li a:hover {
  color: #f6ba18;
}
.footer-links .contact-list {
  padding-left: 0;
  margin-bottom: 0;
}
.footer-links .contact-list li {
  margin-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #f6bb186e;
  display: inline-block;
}
.footer-links .contact-list a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.footer-links li:nth-last-child(1) {
  border: none;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.footer-area .footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #f6bb186e;
}
.copyright a {
  font-size: 18px;
  text-decoration: none;
  color: #f6ba18;
}
.copyright a:hover {
  font-size: 18px;
  color: #b98c11;
}
.footer-area .social-box {
  position: relative;
}
.social-box li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  top: -7px;
  left: -45px;
  font-size: 30px;
}
.social-box li a {
  text-align: center;
  line-height: 30px;
  position: absolute;
  color: #fff;
}
.social-box li a:hover {
  color: #f6ba18;
}
.language .btn-link {
  text-decoration: none;
  border-radius: 25px;
}
@media (max-width: 1199px) {
  .form-group {
    position: relative;
    width: 260px;
  }
}
@media (max-width: 991px) {
  .footer-area .footer-top {
    padding: 20px 0 20px 0;
  }
  .footer-links h4 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-top {
    padding: 25px 0 0px 0;
  }
  .form-group {
    margin-left: 100px;
  }
  .footer-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-links {
    margin-left: 0;
  }
  .footer-links h4 {
    margin-top: 40px;
  }
  .footer-links h4::after {
    left: 240px;
  }
  .footer-links .contact-list li {
    display: block;
    margin-left: 0;
  }
  .footer-bottom {
    text-align: center;
  }
  .copyright {
    margin-left: 80px;
  }
  .right-box {
    margin-top: 20px;
    margin-left: 65px;
  }
}

@media (max-width: 575px) {
  .form-group {
    margin-left: 120px;
  }
  .footer-links {
    margin: 0;
  }
  .footer-links h4::after {
    left: 260px;
  }
  .copyright {
    margin-left: 100px;
  }
  .right-box {
    margin-left: 85px;
  }
}

@media (max-width: 375px) {
  .footer-area .footer-top {
    padding: 10px 0 0px 0;
  }
  .form-group {
    margin-left: 20px;
  }
  .footer-links h4::after {
    left: 150px;
  }
  .copyright {
    margin-left: 0px;
  }
  .right-box {
    margin-left: 0px;
  }
  .social-box {
    padding-left: 0;
  }
}
